/* 센터안내 */
.page_introduce {
	.introduce_1 {
		width: 1635px;
		margin: 0 auto;

		.banner_box {
			text-align: center;
			height: 305px;

			img {
				object-fit: fill;
			}
		}
		.intro_box {
			margin-top: 62px;

			ul {
				position: relative;
				display: flex;
				flex-wrap: wrap;
			}
			li {
				display: flex;
				width: 50%;
				padding: 44px 0 0;
				font-size: 1.125rem; /* 18px */
				font-weight: 700;
				line-height: 180%;

				&:nth-child(1) {
					padding: 30px 0 40px;
					border-bottom: 1px solid #C4C4C4;
				}
				&:nth-child(2) {
					padding: 30px 0 40px 40px;
					border-bottom: 1px solid #C4C4C4;
					border-left: 1px solid #C4C4C4;
				}
				&:nth-child(3) {
				}
				&:nth-child(4) {
					padding: 40px 0 30px 40px;
					border-left: 1px solid #C4C4C4;
				}
			}
			.txt {
				width: 230px;
				margin-right: 32px;
				font-size: 1.188rem; /* 19px */

				&:before {
					content: "";
					display: block;
					width: 28px;
					height: 6px;
					margin-bottom: 5px;
					background: #2460AF;
				}
			}
			.sub_txt {
				margin-top: 16px;
			}
		}
	}

	.introduce_2 {
		width: 1635px;
		margin: 55px auto 0;

		h2 {
			font-size: 1.875rem; /* 30px */

			&:before {
				content: "";
				display: block;
				width: 28px;
				height: 6px;
				margin-bottom: 5px;
				background: #2460AF;
			}
		}
		table {
			text-align: center;
			width: 100%;
			margin-top: 21px;
			border-top: 2px solid #000;

			thead {
				th {
					height: 80px;
					padding: 14px 27px;
					font-size: 1.5rem; /* 24px */
					background: #fff;
					border-top: 2px solid #000000;
				}
			}
			tbody {
				td {
					height: 80px;
					padding: 14px;
					border-top: 1px solid #C4C4C4;
					font-size: 1.75rem; /* 28px */
					font-weight: 400;

					&.total {
						background: #C4C4C4;
					}
				}
			}
		}
	}

	.introduce_3 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		& > div {
			width: 380px;
			height: 70%;
			font-size: 1.625rem; /* 26px */
			line-height: 170%;

			& + div {
				margin-left: 70px;
			}
			img {
				display: inline-block;
				width: 100%;
				height: 380px;
				margin-bottom: 41px;
				object-fit: fill;
			}
		}
	}
}
