.page_notice {
	display: flex;
	align-items: center;
	justify-content: center;

	table {
		text-align: center;
		width: 100%;

		thead {
			th {
				height: 80px;
				padding: 14px 27px;
				font-size: 1.5rem; /* 24px */
				background: #fff;
				border-top: 2px solid #000000;
			}
		}
		tbody {
			.empty {
				height: 500px;
			}
			td {
				width: 10%;
				height: 80px;
				padding: 14px;
				border-top: 1px solid #C4C4C4;
				font-size: 1.75rem; /* 28px */
				font-weight: 400;

				&.title {
					text-align: left;
					width: 60%;
				}
			}
		}
	}

	.notice_slider {
		width: 80%;
		height: 85%;

		.slick-track {
			width: 100%;
		}
	}

	.notice_info_slider {
		width: 80%;
		height: 85%;

		.slick-track {
			width: 100%;
		}
		li {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 23px 19px;
			font-size: 1.5rem; /* 24px */
			background: #fff;
			border-top: 1px solid #242424;

			.thumbnail_box {
				width: 242px;
				height: 100%;
				margin-right: 29px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.txt_box {
				flex: 1;

				.title {
					font-size: 1.75rem; /* 28px */
					font-weight: 800;
					margin-bottom: 15px;
				}
				.sub_title {
					@include dot(2, 1.5);
				}
			}
		}
	}
}
