/* 대관안내 */
.rental_page {
	.slick-active {
		button:before {
			background: $brandColor-green !important;
			opacity: 1;
		}
	}
	.title {
		text-align: center;
		margin-bottom: 59px;
		font-size: 42px;
	}
}
.rental_detail_list {
	display: flex;
	align-items: center;
	height: 100%;

	.list_none {
		text-align: center;

		.list_none_box {
			p {
				margin-top: 40px;
				font-size: 32px;
			}
		}
	}
	.slick-track {
		margin-left: 0;
		margin-right: 0;
	}
	.card {
		height: 337px;
		margin: 8px 0;
		padding: 25px 24px 10px;
		border-radius: 4px;
		background: #FFFFFF;

		.card_content {
			height: calc(100% - 135px);
		}
		h3 {
			font-size: 1.5rem; /* 24px */
			@include dot(2, 1.2)
		}
		.intro {
			min-height: 80px;
			margin: 20px 0 10px;
			font-size: 1.25rem; /* 20px */
			font-weight: 400;
			@include dot(4, 1.2);
		}
		.info {
			height: 90px;
			padding-top: 17px;
			border-top: 1px solid $light;

			& > p {
				padding-left: 32px;
				font-size: 1.125rem; /* 18px */
				font-weight: 400;
				background-position: center left;
				background-size: 18px;
				background-repeat: no-repeat;
			}
			&__time {
				background: url('../images/icon/clock.png');
			}
			&__place {
				margin-top: 7px;
				background: url('../images/icon/place_big.png');
			 }
		}
		.btn_wrap {
			text-align: center;

			.btn {
				width: 166px;
				height: 42px;
				font-size: 1.125rem; /* 18px */
				background: #2460AF;
				border-radius: 4px;
				color: #fff;
			}
		}
	}
}
.rental_detail_popup {
	.rental_detail_list {
		.slick-slider {
			margin-top: 0;
			margin-bottom: 60px;

			.slick-list {
				min-height: 720px;
			}
		}
	}
	.popup_box {
		&__container {
			padding: 24px;
			background: #EFEFEF;
		}
	}
}
