/* 교통안내 */
.traffic_page {
	.traffic_box {
		display: flex;
		justify-content: center;
		padding: 18px;
	}
}
#bus {
	.step_box {
		flex: 1;
		text-align: center;
		width: 50%;
		//height: 882px;
		padding: 27px 15px;
		background: #fff;
		border: 1px solid #A8A8A8;
		border-radius: 8px;

		& + .step_box {
			margin-left: 10px;
		}
		.title {
			font-size: 2.625rem; /* 42px */
			font-weight: bold;

			p {
				margin-top: 10px;
				font-size: 1.5rem; /* 24px */
				color: #666666;
			}
		}
		.coming_soon_list {
			display: flex;
			align-items: center;
			height: 72px;
			margin: 25px 0 0;
			padding: 17px 16px 16px;
			background: #333333;
			border-radius: 8px;
			font-size: 2.125rem; /* 34px */
			font-weight: 800;
			overflow: hidden;

			.info {
				position: relative;
				width: 130px;
				margin-right: 20px;
				color: #FFFFFF;

				&:after {
					content: "";
					@include position-translate(absolute, $t: 50%, $r: -23px, $x: 0, $y: -50%);
					width: 1px;
					height: 28px;
					margin: 0 15px;
					background: #C4C4C4;
				}
			}

			/* 흐르는 텍스트 */
			.scrollingText {
				text-align: left;
				width: calc(100% - 130px);

				.scrollableArea {
					display: inline-block;
					white-space: nowrap;

					span {
						display: inline-block;
						padding: 0 15px;
						color: #fff;
					}
				}
				div.scrollingHotSpotLeft {
					min-width: 75px;
					width: 10%;
					height: 100%;
					background-repeat: repeat;
					background-position: center center;
					position: absolute;
					z-index: 200;
					left: 0;
				}
				div.scrollingHotSpotLeftVisible {
					background-color: #fff;
					background-repeat: no-repeat;
					opacity: 0.35;/* Standard CSS3 opacity setting */
					-moz-opacity: 0.35;/* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
					filter: alpha(opacity=35);/* Opacity for Internet Explorer. */
					zoom: 1;
				}
				div.scrollingHotSpotRight {
					min-width: 75px;
					width: 10%;
					height: 100%;
					background-repeat: repeat;
					background-position: center center;
					position: absolute;
					z-index: 200;
					right: 0;
				}
				div.scrollingHotSpotRightVisible {
					background-color: #fff;
					background-repeat: no-repeat;
					opacity: 0.35;
					filter: alpha(opacity=35);
					-moz-opacity: 0.35;
					zoom: 1;
				}
				div.scrollWrapper {
					position: relative;
					overflow: hidden;
					width: 100%;
					height: 100%;
				}
				div.scrollableArea {
					position: relative;
					width: auto;
					height: 100%;
				}
			}
		}
		.bus_list {
			display: flex;
			flex-wrap: wrap;
			//height: calc(100% - 177px);
			margin-left: -10px;
			//overflow: hidden;

			li {
				display: table;
				//text-align: center;
				//display: flex;
				width: calc(50% - 10px);
				height: 98px;
				margin: 10px 0 0 10px;
				border-radius: 4px;
				border: 1px solid #646464;

				&.bus_blue .number {background: #0074E6;}
				&.bus_blue2 .number {background: #00ACC4;}
				&.bus_green .number {background: #00B43D;}
				&.bus_red .number {background: #CB0031;}
				&.active {
					.time {
						color: #FF0000;
					}
				}
				& > p {
					vertical-align: middle;
					display: table-cell;
					padding: 10px;
				}
				.number {
					width: 131px;
					height: 100%;
					font-size: 2rem; /* 32px */
					font-weight: 800;
					color: #fff;
				}
				.time {
					font-size: 1.875rem; /* 30px */
					font-weight: bold;
				}
			}
		}
	}
}
#subway {
	flex-direction: column;

	.step_box {
		position: relative;
		width: 1454px;
		height: 436px;
		padding: 20px;
		background: #444444;
		border-radius: 8px;

		& + .step_box {
			margin-top: 10px;
		}
		.title {
			display: flex;
			align-items: center;
			font-size: 2rem; /* 32px */
			font-weight: bold;
			color: #fff;

			img {
				margin-right: 16px;
			}
		}
	}
	.subway_table {
		@include position(absolute, $t: 10px, $r: 10px);
		width: 684px;
		height: 135px;
		color: #fff;

		td {
			color: #fff;

			&.place {
				text-align: left;
			}
			&.coming_soon {
				&.active {
					color: #FFC700;
				}
			}
		}
	}
	.subway_info {
		@include position-translate(absolute, $b: 45px, $l: 50%, $x: -50%, $y: 0);
		width: 1263px;

		.subway_step_box {
			position: relative;
			height: 43px;

			.subway_img {
				@include position(absolute, $t:0, $l: 0);

				&.step_1 {left: 7%;}
				&.step_1-1 {left: 16.5%;}
				&.step_2 {left: 27%;}
				&.step_2-1 {left: 36.5%;}
				&.step_3 {left: 47%;}
				&.step_3-1 {left: 56.5%;}
				&.step_4 {left: 67%;}
				&.step_4-1 {left: 76.5%;}
				&.step_5 {left: 86%;}
				&.step_5-1 {left: 95%;}
			}
		}
		&.right {
			.subway_img {
			  transform: rotateY(180deg);

				&.step_1 {left: 5%;}
				&.step_1-1 {left: 14.5%;}
				&.step_2 {left: 24.5%;}
				&.step_2-1 {left: 33.5%;}
				&.step_3 {left: 44%;}
				&.step_3-1 {left: 53%;}
				&.step_4 {left: 63%;}
				&.step_4-1 {left: 73.5%;}
				&.step_5 {left: 84.5%;}
				&.step_5-1 {left: 93%;}
			}
			.platform_list:before {
				transform: rotateY(180deg);
			}
		}
		.platform_list {
			position: relative;
			display: flex;
			justify-content: space-around;
			margin-top: 30px;

			&:before {
				content: "";
				@include position(absolute, $t: 7px, $l: 0);
				width: 100%;
				height: 44px;
				background: url("../images/banner/subway_line.png") no-repeat 0 0 / 100%;
				z-index: -1;
			}
			li {
				font-weight: 800;

				&:before {
					content: "";
					display: block;
					width: 40px;
					height: 40px;
					margin: 0 auto 28px;
					background: #fff;
					border: 8px solid #444444;
					border-radius: 50%;
					z-index: 1;
				}
				&.active {
					&:before {
						background: #FF4020;
						border: 8px solid #fff;
					}
				}
				span {
					display: inline-block;
					padding: 6px 17px;
					background: #FFFFFF;
					border: 7px solid #B79A45;
					border-radius: 60px;
				}
			}
		}
	}
}
#map {
	height: 97%;
}

.controlFontSize {
	#bus {
		.info {
			width: 152px !important;
		}
	}
	.scrollingText {
		width: calc(100% - 152px) !important;
	}
}
