/*---------------------------
	RESET
---------------------------*/
* {
	margin: 0;
	padding: 0;
	@include vendorPrefix(box-sizing, border-box)
}
html,
body{
	position: relative;
	height: 100%;
}
html.scrollLock {
	height: 100%;
	overflow: hidden;
}

section,
aside,
article,
fieldset,
figure,
figcaption{
	display: block;
}

a:link,
a:focus,
a:hover,
a:active{
	text-decoration: none;
}
a {
	color: $darkGrey2;
}

button,
img{
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

button,
input[type="button"],
input[type="submit"]{
	cursor: pointer;
}
button{
	background: transparent;
	border: none;
}

img,
i{
	vertical-align: text-bottom;
}

ul,
ol,
li{
	list-style-type: none;
}

.hand {
	cursor: pointer;
}
