/*---------------
	COLOR SET
---------------*/
$brandColor-blue: #0056A4;
$brandColor-green: #90BA1E;
$brandColor-orange: #EF7D17;
$brandColor-yellow: #FFD630;
$brandColor-purple: #AF1280;

$white:      #fff;
$offWhite:   #FCFCFC;
$light:      #C4C4C4;
$lightGrey1: #EEEEEE;
$lightGrey2: #F7F7F7;
$grey1:      #A5A5A5;
$grey2:      #8B8B8B;
$grey3:      #6F6F6F;
$grey4:      #555;
$dark:       #343a40;
$darkGrey1:  #3D3D3D;
$darkGrey2:  #242424;
$default:    #242424;
$black:      #000;

$lightBlueGrey1: #F7F7FC;
$lightBlueGrey2: #EFF0F6;
$blueGrey1:      #D6D8E7;
$blueGrey2:      #A0A3BD;
$blueGrey3:      #6E7191;
$blueGrey4:      #4E4B66;
$darkBlueGrey:   #14142A;

$primary:   #0056A4;
$secondary: #E6168D;
$success:   #14142A;
$info:      #90BA1E;
$warning:   #EF7D17;
$danger:    #D43217;
$muted:     #AAAAAA;

